@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('poza_log1.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

h2 {
    top: 2px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: rgb(239, 224, 224);
    height: 30px;
}

.lblemail, .lblpass {
    font-weight: bold;
    color: #fff;
}

.txtemail, .txtpass {
    width: 100%;
    margin-bottom: 20px;
}

.btnsubmit {
    border: none;
    outline: none;
    height: 30px;
    font-size: 16px;
    color: rgb(239, 224, 224);
    background-color: rgb(52, 48, 48);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    width: 100%;
}

    .btnsubmit:hover {
        background-color: rgb(176, 173, 173);
    }

.txtemail {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.txtpass {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
